<section id="aboutus" class="md-padding">
    <div class="container">
        <ul class="navbar-nav text-uppercase ml-auto admin-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categories</a>
            </li>
        </ul>
    </div>
</section>